<ion-content class="dark-bg text-white p-5">

  <h2 class="text-xl font-semibold m-4 ">Add Player</h2>

  <div class="space-y-4 text-white">

    <input
      type="text"
      placeholder="Player Name"
      [(ngModel)]="player.name"
      class="w-full bg-white/5 p-3 rounded-lg outline-none" />

    <input
      type="number"
      placeholder="Jersey Number"
      [(ngModel)]="player.jerseyNumber"
      class="w-full bg-white/5 p-3 rounded-lg outline-none" />

    <div class="bg-white/5 rounded-lg p-3">
  
  <p class="text-slate-400 text-sm mb-1">Role</p>

  <ion-select
    [(ngModel)]="player.role"
    interface="popover"
    placeholder="Select Role"
    class="custom-select text-white w-full">

    <ion-select-option value="Batsman">
      Batsman
    </ion-select-option>

    <ion-select-option value="Bowler">
      Bowler
    </ion-select-option>

    <ion-select-option value="All-Rounder">
      All-Rounder
    </ion-select-option>

    <ion-select-option value="Wicket-Keeper">
      Wicket-Keeper
    </ion-select-option>

  </ion-select>

</div>

   

    <button *ngIf="isEdit"
      class="w-full bg-green-600 p-3 rounded-lg hover:bg-green-700 transition"
      (click)="submit()">
      Update Player
    </button>

    <button *ngIf="!isEdit"
      class="w-full bg-green-600 p-3 rounded-lg hover:bg-green-700 transition"
      (click)="submit()">
      Add Player
    </button>


    <button
      class="w-full bg-red-600 p-3 rounded-lg"
      (click)="close()">
      Cancel
    </button>

  </div>

</ion-content>